


<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<application
    ... >
<receiver android:name=".BootReceiver" android:exported="false">
<intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED"/>
</intent-filter>
</receiver>
<receiver android:name=".MyBroadcastReceiver" android:exported="false"/>
    </application>

